.tamaño-form{
    margin: 2% 5%;

}
.form-label{
    color: whitesmoke;
}
button{
   margin-left: 45%;

}
.preguntas-frecuentes-titulo{
    color: cornsilk;
    margin: 3% 6%;
    text-align: center;
}