.contenedor-inicio{
    background: linear-gradient(to right, rgba(42, 42, 43, 0.5), rgba(161, 160, 160, 0.2));
    margin: 5%;
    width: 90%;
    height: 50%;
}
.agrupador{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
.contenedor-inicio-texto{
    margin-left: 2%;
    width: 50%;
    h3,h4,p{
        text-align: center;
        color: cornsilk;
        height: auto;
    }
    h3{
        font-size: 2.5rem;
        margin-top: 2%;
    }
    h4{
        font-size: 1.5rem;
    }
    ul li{
        font-size: 1rem;
        color: whitesmoke;

    }
}
.contenedor-inicio-imagen{
    margin-right: 0;
    width: 50%;
    height: auto;
    

}
@media only screen and (max-width: 600px) {
   .contenedor-inicio, .contenedor-inicio-texto{
       width: 80%;
       height: 60%;
   }
.agrupador img, .contenedor-inicio-imagen{
    display: none;
}
}