.contenedor-npro{
    justify-content: space-around;
    display: flex;
    margin: 2% 5%;
}
.subcontenedor-npro{
    width: 25%;
    div div a h3{
        text-decoration: none;
    }
    h3{
        text-align: center;
        color: blanchedalmond;
        font-size: 3rem;
    }
    img{
        width: fit-content;
    }
    
}
.parrafo-general{
    text-align: center;
    color: blanchedalmond;
    font-size: 1.5rem;
}
.contenedor-flex{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    img{
        width: fit-content;
    }
}
.desc-prod{
    border: solid 1.5px cornsilk;
    background-color: linear-gradient(70deg, white,darkgrey);
    color: cornsilk;
    text-align: center;
    justify-content: center;
    padding: 2%;
    margin-top: 4%;
    width: 100%;
    height: 30%;
}
.contenedor-picada{
    width: 40%;
    height: fit-content;
    margin: 4% 2%
}
.subcont-producto{
    width: 40%;
    margin: 5% 2%;
    padding: 1%;
    
    h4{
        font-size: 2rem;
        color: whitesmoke;
        text-align: center;
        margin-bottom: 3%;
        

    }
}.tit-producto{
    font-size: 3rem;
    color: cornsilk;
    text-align: center;
    margin: 3% 
}
@media only screen and (max-width: 400px) {
    .subcontenedor-npro h3{
        font-size: 1.5rem;
    }
    .subcont-producto{
        width: 95%;

    }
    .tit-producto, h4{
        text-align: center;
    }

     .contenedor-flex{
        display: block;
        img{
            margin: 0 2%;
        }
    }
    .desc-prod{
        width: fit-content;
        height: fit-content;
    }

}


